@font-face {
  font-family: 'JetBrains-regular';
  src: local('JetBrains-regular'), url(./assets/fonts/JetBrainsMono-Regular.ttf);
}

@font-face {
  font-family: 'JetBrains-bold';
  src: local('JetBrains-bold'), url(./assets/fonts/JetBrainsMono-Bold.ttf);
}

body {
  font-family: 'JetBrains-regular';
}

header, footer {
  padding-top: 15px;
  padding-left: 15px;
  background-color: blue;
  height: 45px;
  color: white;
}

#logo {
  height: 30px;
  margin-right: 10px;
}

main {
  min-height: 400px;
  font-family: 'JetBrains-bold';
}